# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# Environment Variables
.env

# IDEs and Editors
.vscode/
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Tests
tests/output/
*.pyc
__pycache__/
.pytest_cache/